@media (max-width: 1024px) {

/* 
----Acerca-de-mi---1024px----
*/

    .main__Acerca-de-mi {
        .section__sobre-mi {
            .main__title {
                font-size: 2.2rem;
                height: 60px;
                padding-left: 60px;
            }
    
            .main__parrafo {
                font-size: 1rem;
                line-height: 2.5;
                width: 25rem;
                padding-left: 60px;
            }
    
            .download-button {
                padding-left: 60px;
               }
        }
    
        .sectionIcon {
            height: 93%;
            
            .div__icons {
                width: 90%;
    
                .div__hijo-icons {
                    .iconSkill {
                        width: 4.5rem;
                        height: 4.5rem;
                    }
    
                    .nick__icon {
                        font-size: 1rem;
                    }
                }
            }
            }
        }
}

@media (max-width: 768px) {

/* 
----Acerca-de-mi---768px----
*/

.main__Acerca-de-mi {
    height: 79vh;

    .section__sobre-mi {
        height: 40%;
        width: 100%;
        margin: 0;

        .main__title {
            font-size: 1.8rem;
            height: 40px;
            text-align: center;
            padding: 0px;
        }

        .main__parrafo {
            font-size: 0.8rem;
            width: 80%;
            text-align: center;
            align-self: center;
            padding: 8px 15px;
        }

        .download-button {
            font-size: 9px;
            padding: 5px 0 0 0;
            align-self: center;
           }
    }

    .sectionIcon {
        height: 60%;
        width: 100%;
        gap: 20px;

        .main__titleSkill {
            font-size: 1.8rem;
        }
        
        .div__icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 68%;
            height: auto;

            .div__hijo-icons {
                height: 10vh;
                .iconSkill {
                    width: 3.7rem;
                    height: 3.7rem;
                }
            }
        }
        }
    }
}

@media (max-width: 600px) {

    /* 
    ----Acerca-de-mi---600px----
    */

    .main__Acerca-de-mi {
        .section__sobre-mi {

            .main__title {
                font-size: 1.7rem;
            }

            .main__parrafo {
                width: 85%;
            }
        }

        .sectionIcon {
            height: 55%;
    
            .main__titleSkill {
                font-size: 1.7rem;
            }
            
            .div__icons {
                width: 70%;
    
                .div__hijo-icons {
                    height: 9vh;
                    .iconSkill {
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }
            }
            }
    }
    
}

@media (max-width: 480px) {

    /* 
    ----Acerca-de-mi---480px----
    */

    .main__Acerca-de-mi {
        .section__sobre-mi {
           height: 45%;
            .main__title {
                font-size: 1.6rem;
            }

            .main__parrafo {
                font-size: 0.79rem;
                width: 95.2%;
            }
        }

        .sectionIcon {
            .main__titleSkill {
                font-size: 1.6rem;
            }
            
            .div__icons {
                width: 90%;
    
                .div__hijo-icons {
                    height: 8vh;
                    .iconSkill {
                        width: 3.2rem;
                        height: 3.2rem;
                    }

                    .nick__icon {
                        font-size: 0.8rem;
                    }
                }
            }
            }
    }

}


@media (max-width: 320px) {

    /* 
    ----Acerca-de-mi---320px----
    */

    .main__Acerca-de-mi {

        .section__sobre-mi {
            height: auto;
            .main__title {
                height: 40px;
                padding: 0 10px;
            }
    
            .main__parrafo {
                font-size: 0.7rem;
                text-align: center;
                width: 100%;
                padding: 0 10px;
            }
    
            .download-button {
                font-size: 10px;
                padding-top: 20px;
               }
        }
    
        .sectionIcon {
            height: 50%;
            
            .div__icons {
                height: 40vh;

                .div__hijo-icons {
                    .iconSkill {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin: 0;
                    }
                }
            }
            }
        }
}
