/* 
---------------------
-----Experiencia-----
---------------------
*/

.main__experiencia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 19% 81%;
    align-items: center;
    justify-items: center;
    height: 79vh;

    .title__experiencia {
        font-weight: bold;
        font-size: 3rem;
        align-self: flex-end;
    }

    .main__section {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 200px;
        font-family: $fontRoboto;
        padding-top: 45px;

        .section__div-unlam {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $fontRoboto;

            .div__img-unlam {
                width: 340px;
                height: 220px;
                text-align: center;
            }
            
            .div__p-unlam {
                width: 300px;
                text-align: center;
                line-height: 23px;
                font-size: 18px;
                margin-top: 12px;
            }

            .parrafo__coder {
                text-align: center;
                font-size: 14.5px;
                width: 310px;
            }
        }

        .section__div-coder {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .div__img-coder {
                width: 340px;
                height: 220px;
            }
            
            .div__p-coder {
                text-align: center;
                font-size: 18px;
                margin-top: 12px;
                width: 400px;
                font-family: $fontRoboto;
            }

            .parrafo__coder {
                text-align: start;
                font-size: 14.5px;
                width: 400px;
                font-family: $fontRoboto;
            }
        }
    }
}