@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
---------------------
-------Header--------
---------------------
*/

.header {
    background-color: #B3B1AF;
    height: 11vh;
    width: 100%;

}

.navBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 11vh;
    z-index: 1;
}

.logo-lg {
    padding-left: 100px;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.navItem {
    margin: 4px;
    font-size: medium;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.navLink {
    color: black;
    text-decoration: none;
    transition: all 0.34s linear;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.navLink:hover {
    background-color: #c4c4c4;
}

.nav__toggle {
    color: white;
    border: none;
    font-size: 30px;
    align-self: center;
    padding: 0 28px;
    cursor: pointer;
}

.nav__toggle, .input__toggle {
    display: none;
}

.fondo {
    background-color: #f3f1ed;
}

/* 
---------------------
-------Inicio--------
---------------------
*/

.indexMain {
    height: 79vh;
}

.mainSect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.titleMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60.1%;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 61.3%;
}

.titulo-principal {
    font-size: 3.8rem;
    font-weight: 750;
}

.subtitulo {
    font-size: 2rem;
    font-weight: 550;
}

.mainImg {
    height: 63%;
}


/* 
---------------------
-----Acerca de mi----
---------------------
*/

.main__Acerca-de-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 79vh;

}

.section__sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}


.main__title {
    font-weight: bold;
    font-size: 2.6rem;
    text-align: left;
    height: 65px;
    padding-left: 140px;
}

.main__parrafo {
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    line-height: 2;
    width: 31rem;
    color: rgb(92, 92, 92);
    padding-left: 140px;
}

.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    padding: 17px 0 0 140px;
   }

.div__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #242a35;
   }

.main__titleSkill {
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
    align-self: center;


}

.sectionIcon {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 70%;
}

.div__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 63%;
    justify-self: center;
    gap: 35px;
}

.div__hijo-icons {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 14vh;
}

.iconSkill:hover {
    width: 5.5rem;
    height: 5.5rem;
} 

.iconSkill {
    width: 5rem;
    height: 5rem;
    transition: all 0.4s;
}

.nick__icon {
    font-size: 1.3rem;
}

/* 
---------------------
------Proyectos------
---------------------
*/


.main__Proyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    height: 79vh;
}

.main__title-proyect {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
    text-align: center;
}

.section__proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 950px;
    font-family: 'Roboto', sans-serif;
    gap: 50px;
}

.div__calcu {
    display: flex;
    align-self: center;
    width: 445px;
}

.main__Calculadora {
    width: 200px;
    height: 400px;
}

.section__textoCalcu {
    height: 30vh;
    padding-left: 25px;
}

.calculadora__nick {
    font-weight: normal;
    font-size: 2.2rem;
    align-self: flex-end;
    margin-top: 9px;
}

.calculadora__subtitle {
    margin-top: 25px;
    font-size: 1.5rem;
}

.calculadora__lenguages {
    font-size: 1.2rem;
    list-style: none;
    margin-top: 10px;
}

.div__clima {
    display: flex;
    align-self: center;
    width: 445px;
}

.main__Clima {
    width: 200px;
    height: 400px;
}

.clima__nick {
    font-weight: normal;
    font-size: 2.2rem;
    align-self: flex-end;
    margin-top: 9px;
}

.clima__subtitle {
    margin-top: 25px;
    font-size: 1.5rem;
}

.clima__lenguages {
    font-size: 1.2rem;
    list-style: none;
    margin-top: 10px;
}

/* 
---------------------
-----Experiencia-----
---------------------
*/

.main__experiencia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    align-items: center;
    justify-items: center;
    height: 79vh;
}

.main__section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    gap: 100px;
    font-family: 'Roboto', sans-serif;
}

.title__experiencia {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
}

.section__div-unlam {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__img-unlam {
    width: 380px;
    height: 280px;
    text-align: center;
}

.div__p-unlam {
    width: 250px;
    text-align: center;
    line-height: 23px;
    font-size: 15.9px;
    margin-top: 12px;
}

.section__div-coder {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 353px;
}

.div__img-coder {
    width: 380px;
    height: 280px;
}

.div__p-coder {
    text-align: center;
    font-size: 17.3px;
    margin-top: 12px;

}

/* 
---------------------
------Contacto-------
---------------------
*/

.main__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas:
        "contacto    contacto"
        "formulario  celu";
    height: 79vh;
    justify-content: space-around;
    justify-items: center;
}

.title__contacto {
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
    grid-area: contacto;
}

.card {
    display: grid;
    width: 325px;
    height: 490px;
    background: rgba(178, 180, 184, 0.418);
    border: 1px solid white;
    grid-area: formulario;
    z-index: 0;
}

.redes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    
}

.redes-container ul li {
    display: inline-block;
    padding: 15px;
}

.redes-container ul li a{
    display: block;
    color: black;
    background: #f3f1ed;
    padding: 0 15px;
    line-height: 50px;
    font-size: 18px;
}

.linkedin {
    transition: all 0.3s;
}

.linkedin:hover {
    font-size: 28px;
    color: #0077B5;
    
} 

.twitter {
    transition: all 0.3s;
}

.twitter:hover {
    font-size: 28px;
    color: #55acee;
} 

.github {
    transition: all 0.3s;
}

.github:hover {
    font-size: 28px;
    color: #690092;
} 

.form-outline {
    padding-bottom: 20px;
}

button {
    font-family: inherit;
    font-size: 14px;
    background: #f3f1ed;
    color: rgb(0, 0, 0);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
      

.main__celu {
    align-self: center;
    width: 580px;
    grid-area: celu;
}

.main__img {
    width: 580px;
}

/* 
---------------------
-------Footer--------
---------------------
*/

.mainFoot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    height: 10vh;
}

.mainFoot__par {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


/* 
---------------------
-----RESPONSIVE------
---------------------
*/


@media (max-width: 1024px) {
    /* 
---------------------
-------Inicio--------
-------1024px--------
*/

    .logo-lg {
        padding-left: 70px;
    }

    .indexMain {
        height: 79vh;
    }

    .mainSect {
        grid-template-columns: 1fr;
        grid-template-rows: 45% 55%;
    }

    .titulo-principal {
        font-size: 3rem;
        font-weight: 750;

    }

    .subtitulo {
        font-size: 2.2rem;
        font-weight: 550;
    }

    .titleMain {
        height: auto;
    }

    .perfil {
        height: 100%;
    }

    .mainImg {
        height: 90%;
    }

    /* 
---------------------
-----Acerca de mi----
-------1024px--------
*/

    .main__title {
        font-size: 2.2rem;
        height: 60px;
        padding-left: 60px;
    }

    .main__parrafo {
        font-size: 1rem;
        line-height: 2.5;
        width: 25rem;
        padding-left: 60px;
    }

    .download-button {
        padding-left: 60px;
       }

    .main__titleSkill {
        font-size: 2.2rem;
    }

    .sectionIcon {
        height: 70%;
    }

    .div__icons {
        width: 90%;
    }

    .iconSkill {
        width: 4.5rem;
        height: 4.5rem;
    }

    .nick__icon {
        font-size: 1rem;
    }

    /* 
---------------------
------Proyectos------
-------1024px--------
*/

    .main__title-proyect {
        font-size: 2.8rem;
        align-self: flex-end;
    }

    .section__proyectos {
        width: auto;
        gap: 29px;
    }

    .main__Calculadora {
        width: 160px;
        height: 300px;
    }

    .section__textoCalcu {
        height: 30vh;
        padding-left: 20px;
    }

    .calculadora__nick {
        font-size: 1.8rem;
    }

    .calculadora__subtitle {
        margin-top: 25px;
        font-size: 1.3rem;
    }

    .calculadora__lenguages {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main__Clima {
        width: 160px;
        height: 300px;
    }

    .clima__nick {
        font-size: 1.8rem;
    }

    .clima__subtitle {
        margin-top: 25px;
        font-size: 1.3rem;
    }

    .clima__lenguages {
        font-size: 1rem;
    }

    .div__clima {
        width: 370px;
    }

    .div__calcu {
        width: 370px;
    }

    /* 
---------------------
-----Experiencia-----
-------1024px--------
*/

    .main__section {
        width: auto;
        gap: 80px;
    }

    .title__experiencia {
        font-size: 3rem;
        align-self: flex-end;
    }

    .div__img-unlam {
        width: 320px;
        height: 220px;
    }

    .div__p-unlam {
        width: 250px;
        font-size: 15.9px;
    }

    .section__div-coder {
        height: 278px;
    }

    .div__img-coder {
        width: 320px;
        height: 220px;
    }

    /* 
---------------------
------Contacto-------
-------1024px--------
*/

.main__contact {
    grid-template-rows: 0.3fr 1fr;
}

    .title__contacto {
        font-size: 2.8rem;
        align-self: center;
    }

    .card {
        width: 280px;
        height: 470px;
    }

    .redes-container {
        height: 7vh;
    }

    .redes-container ul li a{
        line-height: 40px;
        font-size: 13px;
    }

    button {
        font-size: 12px;
       }

    .form-label {
        font-size: 0.8rem;
    }

    .form-outline {
        padding-bottom: 20px;
    }

    .main__celu {
        align-self: center;
        width: 485px;
        height: 420px;
        grid-area: celu;
    }

    .main__img {
        width: 485px;
        height: 420px;
    }

}

@media (max-width: 768px) {

    /* 
---------------------
-------Inicio--------
--------768px--------
*/

    .navItem {
        margin: 0.76rem;
        font-size: 0.89rem;
    }

    .logo-lg {
        padding-left: 30px;
    }

    .navItem {
        margin: 0px;
    }
    
    .navLink {
        padding: 0.4rem 0.8rem;
        border-radius: 5px;
    }

    /* 
---------------------
-----Acerca de mi----
--------768px--------
*/

.sectionIcon {
    grid-template-rows: 0.2fr 1fr;
    height: 70%;
}

.div__icons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 60vh;
    gap: 0px;
}

.download-button {
    font-size: 12px;
   }

.docs {
    min-height: 32px;
   }

.sectionIcon {
    height: 79vh;
}

.iconSkill {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0;
}

.nick__icon {
    font-size: 0.9rem;
}

.main__titleSkill {
    font-size: 1.95rem;
}

    .main__parrafo {
        width: 17rem;
    }


    .section__sobre-mi {
        height: 79vh;
    }

    /* 
---------------------
------Proyectos------
--------768px--------
*/

    .section__proyectos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .main__title-proyect {
        font-size: 2.5rem;
        align-self: center;
    }

    .main__Calculadora {
        width: 100px;
        height: 180px;
    }

    .main__Clima {
        width: 100px;
        height: 180px;
    }

    .div__calcu {
        height: 26vh;
        width: 266px;
    }

    .div__clima {
        height: 30vh;
        width: 266px;
    }

    .calculadora__nick {
        font-size: 1.6rem;
    }

    .clima__nick {
        font-size: 1.6rem;
    }

    .calculadora__subtitle {
        margin-top: 15px;
        font-size: 1rem;
    }

    .clima__subtitle {
        margin-top: 15px;
        font-size: 1rem;
    }

    .calculadora__lenguages {
        font-size: 0.8rem;
    }

    .clima__lenguages {
        font-size: 0.8rem;
    }

    /* 
---------------------
-----Experiencia-----
--------768px--------
*/

    .main__experiencia {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 85%;
    }

    .main__section {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: auto;
        gap: 60px;
    }

    .title__experiencia {
        font-size: 2.2rem;
        align-self: flex-end;
    }

    .div__img-unlam {
        width: 220px;
        height: 120px;
    }

    .div__p-unlam {
        font-size: 14px;
    }

    .div__img-coder {
        width: 220px;
        height: 120px;
    }

    .div__p-coder {
        font-size: 14px;
    }

    .section__div-coder {
        height: auto;
    }

    /* 
---------------------
------Contacto-------
--------768px--------
*/

    .main__contact {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr;
        grid-template-areas:
            "contacto contacto"
            "formulario formulario";
    }

    .title__contacto {
        font-size: 2.9rem;
    }

    .main__celu {
        display: none;
    }

}

@media (max-width: 600px) {

    /* 
---------------------
-------Inicio--------
--------600px--------
*/

    .header {
        background-color: #B3B1AF;
        height: 11vh;
        width: 100%;
    }

    .nav__toggle {
        display: block;
        cursor: pointer;
    }

    .navList {
        position: fixed;
        flex-direction: column;
        margin: 0;
        background-color: #2c3e50;
        top: 11%;
        width: 100%;
        align-items: center;
        list-style: none;
        height: 100%;
        overflow-y: auto;
        transition: clip-path 0.4s ease-in-out;
        left: 0;
        clip-path: circle(0 at center);
    }

    #menu:checked ~ .navBar .navList{
        clip-path: circle(100% at center);
    }

    .navItem {
        display: block;
        margin: 3.6rem;
        font-size: 1.4rem;
    }

    .logo-lg {
        padding-left: 25px;
    }

    .navLink {
        color: black;
    }

    .navLink:hover {
        background: none;
        color: #B3B1AF;
    }


    /* 
---------------------
-----Acerca de mi----
--------600px--------
*/
    .div__icons {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 60vh;
    }

    .sectionIcon {
        height: 79vh;
    }

    .download-button {
        font-size: 10px;
        padding-top: 5px;
       }
    
    .docs {
        min-height: 30px;
       }

    .iconSkill {
        width: 3.2rem;
        height: 3.2rem;
        margin: 0;
    }

    .nick__icon {
        font-size: 0.9rem;
    }

    .main__titleSkill {
        font-size: 2rem;
    }

    .main__title {
        font-size: 2rem;
    }

    .main__parrafo {
        width: 92%;
    }

    /* 
---------------------
-------Footer--------
--------600px--------
*/

    .mainFoot__par {
        font-size: 0.8rem;
    }

}

@media (max-width: 480px) {
    /* 
---------------------
-------Inicio--------
--------480px--------
*/

    .titulo-principal {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .perfil {
        height: 100%;
    }

    .mainImg {
        height: 80%;
    }

    /* 
---------------------
-----Acerca de mi----
--------480px--------
*/

    .main__Acerca-de-mi {
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        height: 79vh;
    }

    .section__sobre-mi {
        height: 100%;
        margin: 0;
    }

    .download-button {
        font-size: 9px;
        padding: 5px 0 0 0;
        align-self: center;
       }
    
    .docs {
        min-height: 28px;
       }

    .main__title {
        font-size: 1.5rem;
        height: 40px;
        text-align: center;
        padding: 0px;
    }

    .main__parrafo {
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
        padding: 0 15px;
    }

    .main__titleSkill {
        font-size: 1.8rem;
    }

    .sectionIcon {
        height: 88%;
        gap: 20px;
    }

    .div__icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 75%;
        height: auto;

    }

    .iconSkill {
        width: 4rem;
        height: 4rem;
    }

    /* 
---------------------
-------Footer--------
--------480px--------
*/

    .mainFoot__par {
        font-size: 0.6rem;

    }

}

@media (max-width: 320px) {

    /* 
---------------------
-------Inicio--------
--------320px--------
*/
    .mainImg {
        height: 70%;
    }

    /* 
---------------------
-----Acerca de mi----
--------320px--------
*/
    .iconSkill {
        width: 3.2rem;
        height: 3.2rem;
        margin: 0;
    }

    .sectionIcon {
        height: 46vh;
    }

    .div__icons {
        height: 20vh;
    }

    .download-button {
        font-size: 10px;
        padding-top: 20px;
       }

    .main__title {
        font-size: 1.2rem;
        height: 40px;
        padding: 0 10px;
        

    }

    .main__parrafo {
        font-size: 0.7rem;
        text-align: center;
        width: 100%;
        padding: 0 10px;
    }

    /* 
---------------------
------Contacto-------
--------320px--------
*/

    .title__contacto {
        font-size: 2.6rem;
    }

    /* 
---------------------
-------Footer--------
--------320px--------
*/

    .mainFoot__par {
        font-size: 0.5rem;
    }

}