/* 
---------------------
------Contacto-------
---------------------
*/

.main__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas:
        "contacto    contacto"
        "formulario  celu";
    height: 79vh;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    .title__contacto {
        font-weight: bold;
        font-size: 3rem;
        align-self: center;
        grid-area: contacto;
    }

    .card {
        display: grid;
        width: 325px;
        height: auto;
        background: map-get($redes, random);
        border: 1px solid white;
        grid-area: formulario;
        z-index: 0;

        .card-body {

            .redes-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 9vh;
            
                ul li {
                    display: inline-block;
                    padding: 15px 15px 20px 15px;

                    a {
                        display: block;
                        color: black;
                        background: #f3f1ed;
                        padding: 0 15px;
                        line-height: 50px;
                        font-size: 18px;
                    }
                }

                @each $redsocial, $colordered in $redes {
                    .#{$redsocial} {
                        transition: all 0.3s;
                            
                            &:hover {
                                font-size: 28px;
                                color: $colordered;
                             } 
                    }
                }
            }

            .form-outline {
                padding-bottom: 10px;
            }

            button {
                font-family: inherit;
                font-size: 14px;
                background: #f3f1ed;
                color: rgb(0, 0, 0);
                padding: 0.7em 1em;
                padding-left: 0.9em;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 16px;
                overflow: hidden;
                transition: all 0.2s;

                span {
                    display: block;
                    margin-left: 0.3em;
                    transition: all 0.3s ease-in-out;
                   }

                svg {
                    display: block;
                    transform-origin: center center;
                    transition: transform 0.3s ease-in-out;
                   }

                &:hover .svg-wrapper {
                    animation: fly-1 0.6s ease-in-out infinite alternate;
                   }

                &:hover svg {
                    transform: translateX(1.2em) rotate(45deg) scale(1.1);
                   }
                   
                &:hover span {
                    transform: translateX(5em);
                   }
                   
                &:active {
                    transform: scale(0.95);
                   }
                   
                   @keyframes fly-1 {
                    from {
                     transform: translateY(0.1em);
                    }
                   
                    to {
                     transform: translateY(-0.1em);
                    }
                   }
               
            }
        }
    }

    .main__celu {
    align-self: center;
    width: 580px;
    grid-area: celu;

    .main__img {
        width: 580px;
    }
}
}