@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$fontRoboto: 'Roboto', sans-serif;
$FondoColor: #f3f1ed;
$HeaderColor: #B3B1AF;
$FooterColor: rgb(230, 230, 230);

 
